<<<<<<< HEAD
h1 {
    color: maroon;
}

.post {
    background-color: blanchedalmond;
}

.user {
    font-style: italic;
}

button a {
    text-decoration: none;
    color: black;
=======
h1 {
    color: maroon;
}

.post {
    background-color: blanchedalmond;
}

.user {
    font-style: italic;
}

button a {
    text-decoration: none;
    color: black;
>>>>>>> origin/main
}