<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <h3>Edit you chat: <% chat._id%></h3>
    <p>This chat was sent from <%= chat.from %> to <%= chat.to %></p>
    <form action="/chats/<%= chat._id%>?_method=PUT" method="POST">
        <textarea name="msg" rows="5" cols="10"><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>