<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>It shows 1 + 2</h1>
    <h3> <%= ["hello", "bonjour", "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, laudantium libero. Aut labore quidem suscipit illo, aliquid alias et ullam quam est deserunt magnam! Omnis accusantium amet explicabo! Iusto, provident?</p>
    <button>click me!</button>
</body>
</html>